<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="tbStudentNo" value="10141367"/>
    <add key="tbPassword" value="11235"/>
    <add key="isRemind" value=""/>
  </appSettings>
</configuration>